
@font-face {
	font-family: youshe;
	src: url('/src/assets/fonts/YouSheBiaoTiHei-2.ttf');
}

*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

.dark{
  --aHover:white;
  --aLink:white;
  --aActive:white;
  --aVisited:white;
}
.light{
  --aHover:black;
  --aLink:black;
  --aActive:black;
  --aVisited:black;
	
}

a:link{
	text-decoration: none;
}
a:active{
	color:var(--aActive);
}
a:hover{
	color:var(--aHover);
}
a:visited{
	color:var(--aVisited);
}

:root{
	--headerHeight:70px;
	--footerHeight:2rem;
	--comHeight:32px;
}

body{
	background-color: black
}


html,body,.app{
	height: 100vh;
	width: 100vw;
 overflow: hidden;
}

.flexLeftRight{
	display:flex;
	justify-content: space-between;
	align-items: center
}
.flexColumn ul{
	display: flex;
	flex-direction: column
}
.flexColumn ul li{
	padding:8px;
	text-align: left;
}

header{
	height: 68px;
}
main{
	height: calc(100vh - 68px - 32px); 
}



.props{
	display: flex;
	justify-content: center;
	align-items: center;
}
input[type="date"],
select{
	height:var(--comHeight);
	padding:0 1rem;
	background-color: rgba(255,255,255, .1);
	outline: none;
	color:rgb(200, 200, 200)
}
:root{
	--padding:1rem;
}



.container {
	position: relative;
	width: 500px;
	display: flex;
	justify-content: center; /* 水平居中 */
	align-items: center; /* 垂直居中 */
  }
  
  .overlap {
	position: absolute; /* 使元素重叠 */
	color: white;
  }


.box {
	width: 100%;
	padding-bottom: 1rem;
}
.boxitem{
	padding: 1rem;
	background-color: rgba(255, 255, 255, .6);
	backdrop-filter: blur(3px);
	border: 1px solid #E2E9EE;
	height: calc(var(--contentBoxHeight) / 3 - var(--padding))
}

.boxitemNone{
	padding: 1rem;
	/* background-color: rgba(255, 255, 255, .6); */
	height: calc(var(--contentBoxHeight) / 3 - var(--padding))

}




  @property --a {
	syntax: "<angle>";
	inherits: false;
	initial-value: -100turn; 
  }
  @property --i {
	syntax: "<number>";
	inherits: false;
	initial-value: 1; 
  }
  
  .box {
	aspect-ratio: 1;
	border-radius: 0px;
	border: 1px solid #0c8fd0;
	padding: 3px;
	mask: 
	  conic-gradient(#000 0 0) content-box,
	  linear-gradient(calc(mod(var(--a),180deg)*var(--i) + var(--_a,45deg)),
		#0000 30%,#000 40% 60%,#0000 70%) subtract,
	  conic-gradient(#000 0 0) padding-box;
	transition: --i 0s,--a 300s linear;
	cursor: pointer;
	@starting-style {
	  --a: 0turn;
	}
  }
  .box.alt {
	--_a: -45deg;
  }
  .box:hover {
	--i: 0;
	--a: 0turn;
	transition: --i .5s ease-out,--a 0s .5s;
  }
  




@import url(animation.css);

















