*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

.dark{
  --aHover:white;
  --aLink:white;
  --aActive:white;
  --aVisited:white;
}
.light{
  --aHover:black;
  --aLink:black;
  --aActive:black;
  --aVisited:black;
	
}

a:link{
	text-decoration: none;
}
a:active{
	color:var(--aActive);
}
a:hover{
	color:var(--aHover);
}
a:visited{
	color:var(--aVisited);
}

:root{
	--headerHeight:70px;
	--footerHeight:2rem;
	--comHeight:32px;
}

body{
	background-color: black
}

html,body,.app{
	height: 100vh;
	width: 100vw;
 overflow: hidden;
}

.flexLeftRight{
	display:flex;
	justify-content: space-between;
	align-items: center
}
.flexColumn ul{
	display: flex;
	flex-direction: column
}
.flexColumn ul li{
	padding:8px;
	text-align: left;
}



.props{
	display: flex;
	justify-content: center;
	align-items: center;
}
input[type="date"],
select{
	height:var(--comHeight);
	padding:0 1rem;
	background-color: rgba(255,255,255, .1);
	outline: none;
	color:rgb(200, 200, 200)
}
:root{
	--padding:1rem;
}

.box {
	width: 100%;
	padding-bottom: 1rem;
}
.boxitem{
	padding: 1rem;
	background-color: rgba(255, 255, 255, .6);
	backdrop-filter: blur(3px);
	border: 1px solid #E2E9EE;
	height: calc(var(--contentBoxHeight) / 3 - var(--padding))
}

.boxitemNone{
	padding: 1rem;
	/* background-color: rgba(255, 255, 255, .6); */
	height: calc(var(--contentBoxHeight) / 3 - var(--padding))

}

.container {
	position: relative;
	width: 500px;
	display: flex;
	justify-content: center; /* 水平居中 */
	align-items: center; /* 垂直居中 */
  }
  
  .overlap {
	position: absolute; /* 使元素重叠 */
	color: white;
  }
@import url(animation.css);